# misc
.vscode
build/
reports/
logs/
.history
.hypothesis/
.DS_Store
.env*
!.env.example

# python
.venv/
venv/
__pycache__
.pytest_cache/

# client
!client/env.development

# nginx
*.crt
*.csr
*.key

# Docker
docker-compose*
!docker-compose.dev.yml
